<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {title}) %>

    <body>

        <%- include('../partials/nav') %>

        <span>HOME</span>

    </body>

    <%- include('../partials/scripts') %>

</html>