.counter-box {
  display: block;
  background: #f6f6f6;
  padding: 40px 20px 37px;
  text-align: center;
}

.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #909090;
  font-size: 18px;
  font-weight: 500;
}

.counter-box i {
  font-size: 60px;
  margin: 0 0 15px;
  color: #d2d2d2;
}

.counter {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #666;
  line-height: 28px;
}

.counter-box.colored {
  background: #3acf87;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
  color: #fff;
}

.tRelieve {
  text-align: left;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 28px;
  background: #424242;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4),
    0px -1px 1px rgba(0, 0, 0, 0.3);
}

.sp_email {
  text-align: left;
  font-family: Arial;
  font-size: 14px;
  color: #1278bf;
  text-shadow: 0px 0px 2px #217ab9;
}

.sp_timestamp {
  text-align: left;
  font-family: Arial;
  font-size: 14px;
  color: #dd4e49;
  text-shadow: 0px 0px 2px #da605c;
}

.sp_message {
  text-align: left;
  font-family: Arial;
  font-size: 14px;
  color: #389c19;
  text-shadow: 0px 0px 2px #469e2b;
}
